* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: absolute;
    z-index: 100;
    color: white;
    width: 100%;
    position: absolute;
    font-weight: 10000000;
    -webkit-tap-highlight-color: transparent;

}

.header-stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 10000000;

}

.camera {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.icon,
.search,
.person,
.back {
    font-size: 2rem;
    cursor: pointer;
}

.text {
    font-size: 1rem;

}

.search,
.person {   margin-left: 1rem;
}